ul {
    max-width: 640px;
    margin: 0 auto;
    list-style: none;
    background: #C9FFBF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(#FFAFBD, #C9FFBF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#FFAFBD, #C9FFBF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    padding: 20px;
    border-radius: 10px;
}

ul li h2 {
    padding-bottom: 15px;
}

ul li:nth-child(2) {
    padding-bottom: 15px;
    line-height: 24px;
}

ul li:nth-child(3), :nth-child(4) {
    font-weight: bold;
}